//override styles in admin backend and admin view

#site_bar {
  background-color: grey !important;

  #site_bar_content {
    width: 80%;
    margin: auto;
  }

  img, #site_bar_company_name {
    display: none;
  }

  #editor_switch a {
    border: none;
    background: none;
    background-color: darkgrey;

    &:hover {
      color: black;
    }
  }

  #editor_switch span {
    border: none;
  }

  #site_bar_branding a {
    &:hover {
      color: black;
    }
  }
}

.phone-link {
  color: rgb(0, 0, 238);
  border-bottom: none !important;
}

