.main {
  //offset fixed header
  margin-top: 0;
  @include media($medium-screen) {
    margin-top: 80px;
  }
}

.section-container {
  @include outer-container;
  max-width: 90%;
  overflow: hidden;
  clear: both;
    margin-top: 50px;
  &:last-child {
    margin-bottom: $footer-height * 2;
  }
}

.body {
  margin-top: 10px;
  @include media($medium-screen) {
    @include span-columns(8);
    @include shift(2);
  }
}

.bio {
  @include media($medium-screen) {
    @include span-columns(8);
    @include shift(2);
  }
}

.bio-text {
  @include span-columns(12);
  padding-bottom: 50px;
  p {
    font-size: 0.95em;
  }

  @include media($medium-screen) {
    @include span-columns(5 of 8);
  }
}

.bio-photo {
  @include media($medium-screen) {
    @include span-columns(3 of 8);
  }
}

.column {
  @include span-columns(12);
  @include media($medium-screen) {
    @include span-columns(6);
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

//other
.contact-us {
  margin-bottom: 100px;
}

.tabs {
  margin: 75px auto;
  clear: both;
  p {
    font-family: 'Ubuntu', sans-serif;
  }
}

