.main {
  //offset fixed header
  margin-top: 0;
  @include media($medium-screen) {
    margin-top: 80px;
  }
}

.section-container {
  @include outer-container;
  max-width: 90%;
  overflow: hidden;
  clear: both;
    margin-top: 50px;
  &:last-child {
    margin-bottom: $footer-height * 2;
  }
}

.body {
  margin-top: 10px;
  @include media($medium-screen) {
    @include span-columns(8);
    @include shift(2);
  }
}

.bio {
  @include media($medium-screen) {
    @include span-columns(8);
    @include shift(2);
  }
}

.bio-text {
  padding: 20px;
  @include span-columns(12);

  @include media($medium-screen) {
    @include span-columns(5 of 8);
  }
}

.bio-photo {
  @include media($medium-screen) {
    @include span-columns(3 of 8);
  }
}

.highlights {
  @extend .testimonials;
}

.tabs {
  max-width: 800px;
  margin: 75px auto;
  clear: both;
}

// Utility Classes

.desktop {
  display: none !important;
  @include media($medium-screen) {
    display: block !important;
  }
}

.mobile {
  display: block !important;
  @include media($medium-screen) {
    display: none !important;
  }
}
