header.main-header {
  @include user-select(none);
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: #fff;

  @include media($medium-screen) {
    nav {
      display: inline-block;
      margin-left: 100px;
    }
  }
}

.main-header-inner {
  width: 80%;
  margin: 20px auto 0 auto;

  nav {
    padding-bottom: 10px;
  }

  @include media($medium-screen) {
    padding: 0;
  }
}

.logo {
  height: 40px;
  @include media($medium-screen) {
    height: 100px;
  }
}

.fix-header {

  @include media($medium-screen) {
    $fix-header-height: 70px;
    max-height: $fix-header-height;
    background-color: white;

    .main-header-inner {
      margin-top: 0;
    }

    .main-header-inner, nav, ul, li, a {
      max-height: inherit;
    }

    img {
      height: $fix-header-height;
      padding: 5px;
    }

    a {
      line-height: $fix-header-height;
    }
  }
}

.static-header {
  @include media($medium-screen) {
    max-height: 1000px;
  }
}


.mobile-menu {
  position: absolute;
  text-transform: uppercase;
  right: 40px;
  height: 30px;
  width: 30px;
  color: black;

  @include media($medium-screen) {
    display: none;
  }
}

