.slideshow-container {
  @include span-columns(12);
  @include media($medium-screen) {
    @include span-columns(8);
  }
// TODO: REFACTOR each loops and combine with data yml info
$home-album:
  '0-Slide-Meet-The-Locals',
  '1-Slide-Discover-Diversity',
  '2-Slide-Explore-Ecuadorian-Culture',
  '3-Slide-Change-Your-Perspective',
  '4-Slide-Try-New-Things';

$service-album:
  '0-Slide-CommunityService',
  '1-Slide-CommunityService',
  '2-Slide-CommunityService';

$camps-album:
  '0-Slide-Camps',
  '1-Slide-Camps',
  '2-Slide-Camps',
  '3-Slide-Camps',
  '4-Slide-Camps',
  '5-Slide-Camps';

$culture-album:
  '0-Slide-Culture',
  '1-Slide-Culture',
  '2-Slide-Culture';

$i: 0;

@each $photo in $home-album {
  .home-slide-#{$i} {
    background: url(/assets/img/#{$photo}.jpg) no-repeat center center;
  }
  $i: $i + 1;
}

$i: 0;
@each $photo in $service-album {
  .service-slide-#{$i} {
    background: url(/assets/img/#{$photo}.jpg) no-repeat center center;
  }
  $i: $i + 1;
}

$i: 0;
@each $photo in $camps-album {
  .camps-slide-#{$i} {
    background: url(/assets/img/#{$photo}.jpg) no-repeat center center;
  }
  $i: $i + 1;
}

$i: 0;
@each $photo in $culture-album {
  .culture-slide-#{$i} {
    background: url(/assets/img/#{$photo}.jpg) no-repeat center center;
  }
  $i: $i + 1;
}

  .slideshow {
    position: relative;
    @include user-select(none);
    display: block;
    max-width: 620px;
    height: 360px;
    margin: 0px auto 20px auto;
    overflow: hidden;
    background-size: contain;
    background-color: transparent;
    @include media($small-screen) {
      height: 510px;
      background-color: black;
    }
  }
}

.advance-left, .advance-right {
  position: absolute;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.advance-left:hover #chevron-left, .advance-right:hover #chevron-right {
  fill: #FBFAFA;
}

.advance-left {
  top: 50%;
  margin-top: -24px;
}

.advance-right {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -24px;
}
