.main-menu {
  list-style: none;
  padding: 0px;
  overflow: hidden;
  text-align: center;

  li {
    display: block;
    margin-right: 10px;

    @include media($medium-screen) {
      display: inline-block;
      text-transform: uppercase;
    }

    a {
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      color: $dark-gray;
    }
    &.selected a, a:hover {
      background: #CCC;
    }
  }
}

.top-menu {
  text-align: center;
  list-style: none;

  a {
    display: block;
    margin: 0 5px;
    padding: 5px 0;
    text-decoration: none;
    color: $dark-gray;
  }

  &.selected a, a:hover {
    background: #CCC;
  }

  @include media($medium-screen) {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: $small-font-size;

    li {
      display: inline-block;
      a {
        padding: 5px;
      }
    }
  }
}
