.slideshow-container
  .slideshow.slide-0{"data-current-slide" => "0", "data-slides" => total_slides }
    %span.advance-left= partial "assets/svg/chevron-left.svg"
    %span.advance-right= partial "assets/svg/chevron-right.svg"