---
title: Bridge To Ecuador
description: Schedule a Trip to Ecuador
---

=partial "shared/banner", locals: { photo: "Banner-1-Walk-to-Beach", |
  line_1: t('home.headline_1'), line_2: t('home.headline_2')}

%section.section-container
  %h2.title= t('home.heading')
  #body
    %p= t('home.note_from_director')
  .bio-photo
    =image_tag "MariCuencaAge16-SM.jpg"

%section.section-container.photos
  %h2.mobile-heading= t('home.programs')