---
title: Bridge To Ecuador
description: Schedule a Trip to Ecuador
---

=partial "shared/banner", locals: { photo: "Banner-1-Walk-to-Beach", cover: "", line_1: t('home.headline_1'), line_2: t('home.headline_2')}

%section.section-container.body
  %h2.lead-title= t('home.heading')
  %p.intro.lead-intro= t('home.intro')

%section.section-container
  %h2.mobile-heading= t('home.programs')
  .cards
    =partial "shared/card", locals: {photo: "Programs-Homeland-Tours", link: "homeland_tours", title: t('home.tours.title'), body: t('home.tours.body') }
    =partial "shared/card", locals: {photo: "Programs-Camps", link: "vacation_camps", title: t('home.camps.title'), body: t('home.camps.body') }
    =partial "shared/card", locals: {photo: "Programs-Community-Service", link: "community_service", title: t('home.service.title'), body: t('home.service.body') }

%section.section-container
  %h2.mobile-heading= t('home.inspiration')
  =partial 'shared/slideshow', locals: {set: "home", total_slides: "5"}
  .testimonials
    =partial 'shared/testimonial', locals: {quote: t('home.testimonials.first.quote'), person: t('home.testimonials.first.person')}

