---
title: Bridge To Ecuador
description: Schedule a Trip to Ecuador
---

=partial "shared/banner", locals: { photo: "Banner-4-Cuenca-Steps",  cover: program.title ,line_1: t('programs.headline_1'), line_2: t('programs.headline_2')}

%section.section-container{id: program.tag}
  %h2.heading.mobile= program.title
  =partial 'shared/slideshow', locals: {set: program.tag, total_slides: program.slides}
  .highlights
    .highlights-inner
      %i= partial "assets/svg/#{program.icon}"
      %ul
        -program.highlights.each do |highlight|
          %li= highlight
  .tabs=partial "shared/tabs", locals: { information: program.info , schedule: program.schedule ,costs: program.costs, trips: program.trips}

