---
title: Bridge to Ecuador - Programs
description: Schedule a Trip to Ecuador
---

=partial "shared/banner", locals: { photo: "Banner-2-Galapagos-SeaLion", line_1: t('why_ecuador.headline_1'), line_2: t('why_ecuador.headline_2')}

%section.section-container.body
  %p.lead-intro= t('why_ecuador.intro')

%section.section-container
  -data.cards.each do |section|
    %h2.heading=section.category
    .cards
      -section.card.each do |card|
        =partial "shared/card", locals: {photo: card.image, link: "none", title: "none", body: card.body }

